<!DOCTYPE html>
<html ng-app="CanvasModule">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= title %></title>
        <link href="/css/bootstrap/bootstrap.css" rel="stylesheet">
        <link href="/css/font_awesome/font-awesome.min.css" rel="stylesheet">
        <link href="/css/app-styles.css" rel="stylesheet">
        <link href="/css/colpick.css" rel="stylesheet">
        <link href="/css/semantic/components/dropdown.css" rel="stylesheet">
        <link href="/css/semantic/components/menu.css" rel="stylesheet">
        <link href="/css/semantic/components/list.css" rel="stylesheet">
        <link href="/css/semantic/components/item.css" rel="stylesheet">
        <link href="/css/semantic/components/transition.css" rel="stylesheet">
        <link href="/css/semantic/components/label.css" rel="stylesheet">
        <link href="/css/semantic/components/icon.css" rel="stylesheet">
        <link href="/css/semantic/components/image.css" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="/app_3th_js/forIE/html5shiv.js"></script>
        <script src="/app_3th_js/forIE/respond.min.js"></script>
        <![endif]-->
    </head>
    <body ng-controller="CanvasCtrl">
    <div ng-controller="UserCtrl">
        <div id="bd-wrapper">
            <!--导航栏-->
            <nav class="navbar navbar-default navbar-fixed-top my-navbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand brand-title" href="javascript:void(0)" ><i class="fa fa-paint-brush  fa-lg"></i>&nbsp;MultiDraw</a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">文件 <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/new"><span class="fa fa-file menu-btn" ></span>新建</a></li>
                                    <li><a href="/center"><span class="fa fa-folder-open menu-btn" ></span>打开</a></li>
                                    <!--<li role="separator" class="divider"></li>-->
                                    <!--<li><a href="" ng-click="save()"><span class="glyphicon glyphicon-save menu-btn"></span>保存</a></li>-->
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" href="#"><span class="fa fa-share menu-btn"></span>导出为</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="javascript:void(0)" ng-click="rasterize()"><span class="fa fa-image menu-btn" ></span>PNG</a></li>
                                            <li><a href="javascript:void(0)" ng-click="rasterizeSVG()"><span class="fa fa-file-excel-o menu-btn" ></span>SVG</a></li>
                                            <li><a href="" type="button" data-toggle="modal" data-target="#JsonModal" ng-click="rasterizeJSON()"><span class="fa fa-file-code-o menu-btn"></span>JSON</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">视图 <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="javascript:void(0)" id="zoom-in"><i class="glyphicon glyphicon-zoom-in menu-btn"></i>放大</a></li>
                                    <li><a href="javascript:void(0)" id="zoom-out"><i class="glyphicon glyphicon-zoom-out menu-btn"></i>缩小</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="javascript:void(0)" id="customized" data-toggle="modal" title="自定义画布大小" data-target="#customizedModal"><i class="fa fa-crop menu-btn"></i>自定义</a></li>
                                </ul>
                            </li>
                            <li><a id="modifyText"></a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <%= userName %><span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/center"><span class="glyphicon glyphicon-user"></span> 个人主页</a></li>
                                    <li><a href=""><span class="glyphicon glyphicon-cog"></span> 账户设置</a></li>
                                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> 退出</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!--导航栏END-->
            <!--左侧工具条 END-->
            <!--顶部工具条-->
            <div class="top-toolbar">
                <div class="file-name" ng-show="canvas.fileName">{[ canvas.fileName ]}</div>
            </div>
            <!--顶部工具条 END-->
            <!--canvas容器-->
            <div id="canvas-col" class="watch-canvas-col">
                <div id="canvasCtn">
                    <canvas id="c"></canvas>
                </div>
            </div>
            <!--canvas容器END-->
        </div>
        <!--bd--wrapper end-->
        <!--通用 Alert-->
        <div class="modal" id="alertModal" tabindex="-1" role="dialog" data-keyboard=false aria-labelledby="alertModal">
            <div id="size" role="document">
                <div align="center" id="type" role="alert">
                    <p></p>
                </div>
            </div>
        </div>
        <!--清空操作 Alert-->
        <div class="modal fade bs-example-modal-sm" id="myAlertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div align="center" class="alert alert-danger alert-dismissible fade in" role="alert">
                    <h4>清空后将不可恢复!</h4>
                    <p>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="confirmClear()">清空</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </p>
                </div>
            </div>
        </div>
        <!--另存为 Model-->
        <div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">文件名：</h4>
                    </div>
                    <div class="modal-body">
                        <input id='fileName' type='text' size="30">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button id='confirmSave' type="button" class="btn btn-info" data-dismiss="modal"
                                ng-click="saveFile()">保存</button>
                    </div>
                </div>
            </div>
        </div>
        <!--JSON Modal-->
        <div class="modal fade" id="JsonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">JSON Code</h4>
                    </div>
                    <div class="modal-body">
                        <p id="json-value" bind-value-to="consoleJSON"> </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="copy-value">复制</button>
                    </div>
                </div>
            </div>
        </div>
        <!--canvas 自定义大小 Modal-->
        <div class="modal fade bs-example-modal-sm" id="customizedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog  modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">自定义画布大小</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label for="recipient-name" class="control-label">宽(Width:px):</label>
                                    <input type="text" class="form-control" id="canvas-width">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label for="message-text" class="control-label">高(Height:px):</label>
                                    <input type="text" class="form-control" id="canvas-height">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="customizedCanvas">确定</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Share Modal -->
        <div class="modal fade" id="shareModal" >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">管理协作成员</h4>
                    </div>
                    <div class="modal-body">
                        <div class="pms-div">
                            <p style="font-weight: bold">权限列表：</p>
                            <div class="ui celled list" style="height: 100px;overflow:auto;">
                                <div class="item ng-user-list" ng-repeat="part in participants">
                                    <img class="ui avatar image" src="/images/avatar.jpg">
                                    <div class="content">
                                        <a>{[ part.userName ]}</a>
                                    </div>
                                        <span style="float:right;margin-right: 30px;" ng-if="part.permission === '2' ">
                                            创建者
                                        </span>
                                        <span style="float:right;margin-right: 30px;" ng-if="part.permission !== '2' ">
                                            <select ng-model="part.permission" ng-change="changePermission(part)">
                                                <option value="1" selected="selected">编辑者</option>
                                                <option value="0">浏览者</option>
                                            </select>
                                        </span>
                                    <button type="button" class="close remove-pms" ng-click="removePermission($event,part)" style="display: none" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                            </div>
                        </div>
                        <div class="newpms-div">
                            <p style="font-weight: bold">新邀请：</p>
                            <div class="ui multiple search selection dropdown">
                                <input type="hidden" name="selectUser"  id="selectUsers" >
                                <i class="dropdown icon"></i>
                                <input class="search test" ng-focus="loadUninvitedUsers()">
                                <div class="default text">输入被邀请人的用户名</div>
                                <div class="menu">
                                </div>
                            </div>
                            <div class="ui selection dropdown">
                                <input type="hidden" name="permission" id="userPms">
                                <i class="dropdown icon"></i>
                                <div class="default text">选择权限</div>
                                <div class="menu">
                                    <div class="item" data-value="1">编辑者</div>
                                    <div class="item" data-value="0">浏览者</div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary ng-add-users">发送邀请</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--bootstrap context menu-->
        <div id="context-menu">
            <ul class="dropdown-menu" id = 'context-ul' role="menu">
                <li id="clear-context"><a href="" tabindex="-1" ng-click="removeSelected()"><span class="fa fa-trash menu-btn" ></span>清除</a></li>
                <li id="copy-context"><a href="" tabindex="-1" ng-click="copySelf()"><span class="fa fa-copy menu-btn" ></span>复制</a></li>
                <li class="divider"></li>
                <li id="active-all-context"><a href="" tabindex="-1" ng-click="activeAll()"><span class="fa fa-check-square-o menu-btn" ></span>全选</a></li>
                <li class="divider"></li>
                <li id="btf-context"><a href="" tabindex="-1" ng-click="bringToFront()"><span class="fa fa-angle-double-up menu-btn" ></span>置于顶层</a></li>
                <li id="stb-context"><a href="" tabindex="-1" ng-click="sendToBack()"><span class="fa fa-angle-double-down menu-btn" ></span>置于底层</a></li>
            </ul>
        </div>
    </div>
    </body>
    <script src='/app_3th_js/jQuery/jquery-1.11.3.min.js'></script>
    <script src='/app_3th_js/angular/angular.min.js'></script>
    <script src='/app_3th_js/bootstrap/bootstrap.min.js'></script>
    <script src='/app_3th_js/bootstrap/bootstrap-contextmenu.js'></script>
    <script src='/app_3th_js/semantic/semantic.js'></script>
	<script src='/app_3th_js/colpick.js'></script>
    <script src='/app_3th_js/fabric/fabric.min.js'></script>
    <script src='/app_3th_js/moment.min.js'></script>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/app_ui_js/mdUtils.js'></script>
    <script src='/app_ui_js/ConfigBoard.js'></script>
    <script src='/app_ui_js/EditBoard.js'></script>
	<script>
        $('.ui.dropdown').dropdown();
        var userName ='<%= userName%>';
        var userId ='<%= userId%>';
        var user = {
            userName : userName,
            userId : userId
        };
        var _ = function(id){return document.getElementById(id)};
        var urlParams = mdUtils.urlParams(window.location.href);
        if(urlParams['id']) var canvasId = urlParams['id'];
        var editBoard = new EditBoard();
        var canvas = editBoard.canvas;
        var socket = editBoard.socket;
        var canvasCtnEl = editBoard.configBord.canvasCtnEl;
	</script>
    <script src="/app_ui_js/controller/userCtrl.js"></script>
    <script src="/app_ui_js/controller/watchCtrl.js"></script>
</html>
